@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bg-color: #ffa600;
    --orange: #FEBE16;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    width: 4px;
    height: 4px;
    border-radius: 5px;
    padding: 1px;
}

::selection{background: var(--bg-color); color: white;}

body{background: var(--bg-color);}

h3{font-weight: normal;}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}



.center{
    margin: 0 auto;
}


/* Home */

.homeDiv{
    margin-top: 150px;


    display: flex;
    flex-direction: column;

    border-radius: 5px;
    padding: 20px;
    background: white;

    box-shadow: 0px 3px 5px rgba(0,0,0, .2);

    max-width: 450px;

    position:relative;
}

.homeDiv .img{
    width: 100px; height: 100px;
    
    position: absolute;
    top: -40px; left: -40px;
}

.homeDiv .title{
    font-size: 36px;
    padding-inline-start: 30px;

    color: var(--orange);
}

.homeDiv .description {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .homeDiv{max-width: 250px; margin-top: 100px;}

    .homeDiv .img{width: 80px; height: 80px; top: -30px; left: -30px;}
    .homeDiv .title{font-size: 28px}
    .homeDiv .description{font-size: 16px}
}



/* Grid */
.grid{
    margin-top: 50px;
    margin-bottom: 50px;

    width: 100%;
    min-height: 400px;

    flex-wrap: wrap;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid .item{
    width: 200px;
    height: 300px;
    box-shadow: 0px 3px 5px #a56c01;
    margin: 50px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border-radius: 5px;
    
    background: white;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.grid .item:hover{
    width: 225px; height: 325px;
    box-shadow: 0px 10px 15px #a56c01;
}

.item .title{font-size: 24px; color: white; transition: all .2s ease-in-out;}
.item .description{margin-top: 5px; font-size: 16px; color: white; text-align: center; padding: 0 20px; transition: all .2s ease-in-out;}

.grid .item:hover .title{font-size: 28px}
.grid .item:hover .description{font-size: 18px}

.grid .item#base64{background: #2596be}
.grid .item#binary{background: #b06bff}
.grid .item#hex{background: #1bc754}
.grid .item#json{background: #ffd900}
.grid .item#url{background: #ff0062}  
.grid .item#utf-8{background: #2c19b8}  
.grid .item#todo{background: #2f82ff}   
.grid .item#discord{background: #5869EA}


@media (max-width: 768px) {
    .grid{height: auto;}

    .grid .item{width: 225px; height: 325px; padding: 0;}
    .grid .item:hover{width: 230px; height: 330px; box-shadow: 0px 10px 15px #a56c01;}
    .grid .item:hover .title{font-size: 26px}
}





.discord{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;

    padding: 10px;

    border-radius: 5px;
    background: #5869EA;
    box-shadow: 0px 3px 5px rgba(0,0,0, .2);

    color: white;

    cursor: pointer;
}
.discord:hover{box-shadow: inset 0px 3px 5px rgba(0,0,0, .2);}
.discord i{font-size: 28px; margin-right: 10px;}
.discord p{font-size: 14px; color: white;}
  
@media (max-width: 768px) {
    .discord{top: 20px;}
    .discord p{display: none;}
    .discord i{font-size: 18px; margin-right: 0;}
}

.footer{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer .title{color: white; font-size: 28px; margin-bottom: 10px;}

.footer .Credits{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.Credits p{color: white; font-size: 20px; line-height: 30px; margin: 0 10px;}

@media (max-width: 768px) {
    .footer .Credits{flex-direction: column}
    .footer .title{font-size: 22px;}
    .Credits p{font-size: 16px;}
}